*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-size: 50px;
}

h3{
    color: #FD080A;
    letter-spacing: 7px;
    font-size: 24px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

#containerPrincipal{
    height: 1200px;
    background-color: #EFDC15;
    margin: 0 auto;
}

.containerHeader{
    text-align: center;
    padding: 40px 0;
    background-color: #EFDC15;
    border-bottom: 40px solid black;
}

.containerCard{
    height: 800px;
    background-color: #FD080A;
    margin: 0 auto;
}

.actorCard{
    height: 400px;
    width: 400px;
    background-color: white;
}
